branca==0.3.1
certifi==2019.3.9
chardet==3.0.4
cycler==0.10.0
et-xmlfile==1.0.1
folium==0.8.3
geographiclib==1.49
geopy==1.19.0
idna==2.8
jdcal==1.4.1
Jinja2==2.10.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
numpy==1.16.3
openpyxl==2.6.3
pandas==0.24.2
pyparsing==2.4.0
PyQt5==5.12.2
PyQt5-sip==4.19.17
PyQtWebEngine==5.12.1
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
six==1.12.0
urllib3==1.24.3
xlrd==1.2.0
xls-writer==0.4.0
